[submodule "externals/tensorflow"]
	path = externals/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	shallow = true
[submodule "externals/JUCE"]
	path = externals/JUCE
	url = https://github.com/juce-framework/JUCE.git
	shallow = true
